.success{
    transition: display .6s ease-in-out;
    display: none
}
small, h5{
    color: rgb(255, 82, 82)
}
button{
    cursor: pointer;
}
.register {
    color: rgb(24, 255, 24)
}
.card {
    border-radius: 8px ;
}