.wrap{
    width: 100%;
    height: wrap;
    padding: 20px;
}
.card-block{
    padding:30px;

}
input{
    margin-top: 3px;
}

/* .card{
    border: 0px solid white
} */

#complete-purchase-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

#complete-purchace {
    height: 70px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(2, 128, 170);
    color: white;
    border: 0px solid white;
    font-weight: bold;
    font-size: 1.4em;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, .8);
    cursor: pointer;
}
#complete-purchace:hover,
#complete-purchace:focus {
    box-shadow: 0 rgba(0, 0, 0, .8);
    border: 3px solid rgb(255, 46, 46);
    outline: 0
}