<div class="wrap">
  <div class="container">
      <h2 class="col-12 col-md-8 text-center mx-auto">Complete Purchase</h2>
      <br>
      <br>
    <div class="btns col-12 col-md-8 mx-auto">
      <button class="btn btn-outline-success col-12 col-md-5" [disabled]="isDisabled()" (click)="payementValidation()">Continue to Video</button>
      <button class="btn btn-outline-secondary col-12 col-md-5" [disabled]="isDisabled()" (click)="backhome()">Return to Home page</button>
    </div>
  </div>
</div>
