<div class="containe mx-auto" *ngIf="loader">
  <div class="dot-container">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>  
  </div>
  <div class="dot-container">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>  
  </div>
  <div class="dot-container">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>  
  </div>
</div>

<div class="books-collection pb-5" *ngIf="!loader">
  <app-slideshow [books]="books"></app-slideshow>

  <div class="stacy-chip">
    <img src="../../../../assets/stacyschip.jpg" alt="Stacy's Chip" width="100px">
    <div class="amount-order p-1" style="margin: 1rem">
      <input type="number" [(ngModel)]="chipAmount" class="" min="1" maxlength="2"/><br>
      <small>Three Stacy's in one Pack. Order Now!</small><br>
      <small><strong>Price: {{ 5 * chipAmount | currency:0 }} | Amount of Stacy's: 1 Pack x {{ chipAmount }}</strong></small>
    </div>
    <button class="btn btn-success btn-sm" (click)="orderStacyChip()">ORDER NOW!</button>
  </div>

  <div class="container">
    <div class="row">
      <div *ngFor="let book of books" class="card border-light text-left col-12 col-sm-12 col-md-4 col-lg-3" [class.card-sold]="book.sold" [class.card-not-sold]="!book.sold">
        <a routerLink="/buy-book/{{book.uid}}/{{book.isbn}}">
          <img class="mx-auto" [src]="book.image" alt="Not supported by browser" 
          style="display: block; width: 8rem; height: 13rem;">
        </a>

        <div class="card-body m-3">
          <p class="card-title"><strong>Title: </strong> {{book.title_long}}</p>
          <p class="card-text"><strong>Authors: </strong>{{book.authors[0]}}</p>
        </div>

        <div class="sold-card" *ngIf="book.sold">
          <a>Sold</a>
        </div>
      </div>
    </div>
  </div>
</div>