.container{
    background-color: white;
    border-radius: .9rem .9rem 0 0;
    padding: 3rem 2rem;
    margin-top: 100px;
}
.books-collection{
    background-color: rgba(250, 228, 186,.7);
    min-height: 100vh;
    margin: 0;
}
.card{
    padding: 0 ;
    padding-top: 2%;
    margin: 1rem 0;
    position: relative;
    border: 0px solid white !important;
}
.card .card-body{
    padding: 0;
}
.card-img-top{
    width:8rem;
    height: 13rem;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
.card-title{
    margin:.3rem 0;
}
.card-text{
    margin:.3rem 0;
}
.card:hover{
    transition: .3s;
    padding-top: 2%;
}
.card-sold:hover{
    border: 2px solid rgb(233, 47, 47)!important;
}
.card-not-sold:hover{
    border: 2px solid rgb(63, 201, 63)!important;
}
.sold-card{
    position: absolute;
    top: 2%;
    width:8rem;
    height: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(233, 47, 47);
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    line-height: 160%;
}

.stacy-chip {
  position: absolute;
  background-color: white;
  top: 100px;
  right: 20px;
  flex-direction: row;
  display: flex;
}
.stacy-chip-image {
  height: 100px;
  width: 100px;
}

/* loader/spinner */
.containe,
.dot-container {
  position: relative;
  width: 100px;
  height: 100px;
}

.containe {
  top: 50vh;
  transform: translateY(-50vh);
  transform-origin: center;
  animation: anirotate 10s linear infinite;
  margin-top: 0px;
}

.dot-container {
  position: absolute;
  border: 0px solid #fff;
  border-radius: 50px;
}
.dot-container:nth-child(2) {
  transform: rotate(40deg);
}
.dot-container:nth-child(2) .dot {
  animation-delay: -0.5s;
}
.dot-container:nth-child(3) {
  transform: rotate(80deg);
}
.dot-container:nth-child(3) .dot {
  animation-delay: -1s;
}

.dot {
  position: absolute;
  height: 10px;
  width: 10px;
  background: #000;
  border-radius: 5px;
  transform: translate(0, 0);
}
.dot:nth-child(1) {
  top: 0;
  left: calc(50% - 5px);
  animation: ani1 2s infinite;
}
.dot:nth-child(2) {
  bottom: calc(28% - 5px);
  left: calc(11% - 5px);
  animation: ani2 2s infinite;
}
.dot:nth-child(3) {
  bottom: calc(28% - 5px);
  right: calc(11% - 5px);
  animation: ani3 2s infinite;
}

[hidden] {
  display: none;
}

@keyframes anirotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-359deg);
  }
}
@keyframes ani1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-40px, 67px);
  }
}
@keyframes ani2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(77px, 0);
  }
}
@keyframes ani3 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-39px, -67px);
  }
}
