<div class="containe mx-auto" *ngIf="loader">
  <div class="dot-container">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>  
  </div>
  
  <div class="dot-container">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>  
  </div>

  <div class="dot-container">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>  
  </div>
</div>

<div class="books-collection pb-5" *ngIf="!loader">
  <app-slideshow [books]="books"></app-slideshow>

  <div class="open-stacy-chip" style="cursor: pointer;" *ngIf="!stacyChip" (click)="stacyChip = !stacyChip">
    <img src="../../../../assets/stacyschip.jpg" alt="Stacy's Chip" width="100px">
  </div>

  <div class="stacy-chip" *ngIf="stacyChip">
    <div class="close-stacy" (click)="stacyChip = !stacyChip">x</div>
    <img src="../../../../assets/stacyschip.jpg" alt="Stacy's Chip" width="100px">
    <div class="amount-order p-1" style="margin: 1rem">
      <small>Enter the number of chips you want to order</small><br>
      <input type="number" [(ngModel)]="chipAmount" min="1" /><br>
      <small><strong>Price of a Stacy's:</strong> $2.75 {{ chipAmount }} + <strong>Shiping and handling:</strong> $2 x {{ chipAmount }}</small><br>
      <small><strong>You'll Pay:</strong> {{ chipAmount * (2.75 + 2) | currency: 0 }} – <strong>You Order:</strong> {{ chipAmount }} Stacy's Chips</small>
    </div>
    <button class="btn btn-success btn-sm" (click)="orderStacyChip()">ORDER NOW!</button>
  </div>

  <div class="container">
    <div class="row">
      <div *ngFor="let book of books" class="card border-light text-left col-12 col-sm-12 col-md-4 col-lg-3" [class.card-sold]="book.sold" [class.card-not-sold]="!book.sold">
        <a routerLink="/buy-book/{{book.uid}}/{{book.isbn}}">
          <img class="mx-auto" [src]="book.image" alt="Not supported by browser" 
          style="display: block; width: 8rem; height: 13rem;">
        </a>

        <div class="card-body m-3">
          <p class="card-title"><strong>Title: </strong> {{book.title_long}}</p>
          <p class="card-text"><strong>Authors: </strong>{{book.authors[0]}}</p>
        </div>

        <div class="sold-card" *ngIf="book.sold">
          <a>Sold</a>
        </div>
      </div>
    </div>
  </div>
</div>