<app-books *ngIf="turkeyLink"></app-books>
<nav class="navbar navbar-expand-lg absolute-bottom">
    <div class="d mx-auto text-center row col-12 col-md-8">

        <small class="mx-auto text-center font-weight-bold"><i>Book Store</i></small>

        <small class="mx-auto text-center">Phone Number: 410-900-7342 | Email: sospell177@gmail.com</small>
        
        <small class="mx-auto text-center" *ngIf="isAuth">Logged in as {{ loginDetails }}</small>

        <a *ngIf="isAuth" class="mx-auto"(click)="logout()">Logout</a>
    
    </div>
</nav>