<div class="row">
  <div class="car col-11 col-md-5 col-lg-4 col-xl-3">
    <div class="card">
      <div class="card-block">
        <h2 class="text-center mb-4 mt-2">Register</h2>

        <div class="container">
          <form (submit)="onSubmit()" class="mb-4">

            <div class="form-group">
              <input type="text" placeholder="Enter your full name"
              [(ngModel)]="fullName" 
              #fullNameId = "ngModel"
              [ngClass]="{'is-invalid': fullNameId.errors?.required && fullNameId.touched || fullNameId.errors?.pattern}"
              name="fullName" 
              class="form-control"
              required>
              <div *ngIf = "fullNameId.errors?.required && fullNameId.touched" class="invalid-feedback"> Full Name is required</div>
            </div>

            <div class="form-group">
              <input type="email" placeholder="Email"
              [(ngModel)]="email" 
              #emailId = "ngModel"
              [ngClass]="{'is-invalid': emailId.errors?.required && emailId.touched || emailId.errors?.pattern}"
              name="email" 
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
              class="form-control"
              required>
              <div *ngIf = "emailId.errors?.required && emailId.touched" class="invalid-feedback"> email is required</div>
              <div *ngIf = "emailId.errors?.pattern && emailId.touched" class="invalid-feedback"> email is invalid</div>
            </div>

            <div class="form-group">
              <input type="password" 
              placeholder="Password" 
              required 
              [(ngModel)]="password" 
              name="password"
              #passwordId = "ngModel" 
              [ngClass]="{'is-invalid': passwordId.errors?.required && passwordId.touched || passwordId.errors?.minlength}"
              minlength="6" 
              class="form-control">
              <div *ngIf="passwordId.errors?.required && passwordId.touched" class="invalid-feedback"> Password is required</div>
              <div *ngIf="passwordId.errors?.minlength && passwordId.touched" class="invalid-feedback"> Password must be at least 6 characters</div>
            </div>

            <div class="form-group">
              <input type="password" 
              placeholder="Retype password" 
              #rePasswordId="ngModel"
              [ngClass]="{'is-invalid': rePasswordId.errors?.required && rePasswordId.touched || rePasswordId.errors?.minlength}"
              required 
              [(ngModel)]="repassword" 
              minlength="6" 
              name="rePassword" 
              class="form-control">
              <div *ngIf="rePasswordId.errors?.required && rePasswordId.touched" class="invalid-feedback"> Password is required</div>
              <div *ngIf="rePasswordId.errors?.minlength && rePasswordId.touched" class="invalid-feedback"> Password must be at least 6 characters</div>
              <small *ngIf="passwordDonMatch">Passwords don't match. Try again.</small>
            </div>
            <input type="submit" class="btn btn-primary btn-block mt-3" value="Register">
          </form>
        </div>

      </div>
    </div>
  </div>
</div>