.success{
    transition: display .6s ease-in-out;
    display: none
}
.card{
    position: relative;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%)
}
small{
    color: rgba(77, 77, 77, 0.589)
}
.small{
    color: rgba(252, 6, 6, 0.589)
}