.success{
    transition: display .6s ease-in-out;
    display: none
}
.car{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%)
}
small{
    color: rgb(255, 82, 82)
}