<!-- <div class="container mt-5">
  <div class="navigation row">
    <a href="">Registered Users</a>
    <a href="">Book Sellers</a>
    <a href="">PayOuts</a>
    <a href="">Refunds</a>
  </div>

  <div class="registered-users">
    <h1>Register Users</h1>
    <table *ngIf="registerUsers?.length > 0; else noData" class="table table-striped">
      <thead class="thead-inverse">
        <tr>
          <th>Full Name</th>
          <th>User Email</th>
          <th>Business Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of registerUsers">
          <td>{{ user.fullName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.business }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="book-sellers">
    <h1>Book Sellers</h1>
    <table *ngIf="booksSold?.length > 0; else noData" class="table table-striped">
      <thead class="thead-inverse">
        <tr>
          <th>User Email</th>
          <th>Amount Sold</th>
          <th>Amount Refunded</th>
          <th>Number of Books sold</th>
          <th>Number of Refunds</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of booksSold">
          <td>{{ book.email }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.business }}</td> 
        </tr>
      </tbody>
    </table>
  </div>

  <div class="payouts">
    <h1>Book Sellers</h1>
    <table *ngIf="booksSold?.length > 0; else noData" class="table table-striped">
      <thead class="thead-inverse">
        <tr>
          <th>User Email</th>
          <th>Amount Sold</th>
          <th>Amount Refunded</th>
          <th>Number of Books sold</th>
          <th>Number of Refunds</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of booksSold">
          <td>{{ book.email }}</td>
           <td>{{ user.email }}</td>
          <td>{{ user.business }}</td> 
        </tr>
      </tbody>
    </table>
  </div>

  <div class="refunds">
    <h1>Refunds</h1>
    <table *ngIf="booksSold?.length > 0; else noData" class="table table-striped">
      <thead class="thead-inverse">
        <tr>
          <th>Request From</th>
          <th>Seller</th>
          <th>Book ISBN</th>
          <th>Refund Amount</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of booksSold">
          <td>{{ book.email }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.business }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noData>
    <p class="mx-auto text-center">Nothing to show</p>
  </ng-template>
</div> -->