.wrapping{
    min-height: 100vh;
    position: relative
}

app-footer{
    position: relative;
    width: 100%;
    top: 100%;
    margin: 0;
    padding:0;
}
flash-messages{
    position: fixed;
    top: 10vh;
    left: 50%;
    width: 50%;
    transform: translateX(-50%);
    z-index: 900;
}