<div class="mt-5 mb-5">
  
  <div class="container pt-5">

    <h2>My Books </h2>
    <hr style="color: black">
    <div *ngIf="purchasedBooks">

    
    <div class="card-row row p-3 ml-0 mt-2" *ngFor="let book of purchasedBooks">
      <div class="card-img mx-auto mr-md-auto mt-0 mb-3 pt-0 col-9 col-md-4 col-lg-3 col-xl-2 d-block" appImgHeight [style.backgroundImage]="book.image"></div>
      <div class="card-body ml-3 pt-0 col-12 col-md-7 ml-md-auto ml-lg-2 d-inline-block">
        <p class="card-title m-0 p-0"><strong>Title: </strong> {{book.title_long}}</p>
        <p class="card-text p-0 m-0 mt-2"><strong>Isbn: </strong>{{book.isbn}}</p>
        <p class="card-text p-0 m-0 mt-2"><strong>Authors: </strong>{{book.authors[0]}}</p>
        <p class="card-text p-0 m-0 mt-2"><strong>Published Date: </strong>{{book.date_published}}</p>
        <p class="card-text pb-0 mt-2"><strong>Purchased on: </strong>{{boughtTime}}</p>
        <p class="card-text pb-0 mt-0"><strong>Book Sent?: </strong>
          <button class="btn btn-outline-danger btn-sm ml-3" disabled *ngIf="!book.isSent">Book has not been sent</button>
          <button class="btn btn-outline-success btn-sm ml-3" disabled *ngIf="book.isSent">Your Book is on the way!</button>
        </p>
        <p class="card-text pb-0 mt-2" *ngIf="book.isSent">
          <strong>Trackig Code: </strong>
          <small>{{book.code}}</small>
          <small>{{book.carrier}}</small>
          <small>{{book.carrierLink}}</small>
        </p>
        <p class="card-text pb-0 mt-2">
          <strong>Contact Seller ({{ book.seller }}): </strong>
          <small style="color: rgb(0, 174, 255); text-decoration: underline">{{ book.email }}</small>
        </p>
        <p class="card-text p-0 m-0 mt-4"><strong>Price: {{book.price | currency: 0}}</strong></p>
        <a class="card-text pb-0 mt-4" *ngIf="book.isSent && lessFiveDays && !book.refunded" routerLink="/return-book/{{book.isbn}}">
          <strong>Return your book</strong>
        </a>
      </div>
    </div>
  </div>
  </div>

</div>
