/* .my-card .card-img-top{
    width:8rem;
    height: 13rem;
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    margin-bottom: 0;
}
.my-card{
    border: 0 solid white;
}
.my-card .btn-group{
    position: absolute;
    bottom: -.5rem;
} */

.card-row {
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.91)
}

.card-img{
    background-size:100% 100%;
    background-position:center;
    background-repeat:no-repeat;
 }
 
 