<div class="row">
  <div class="car col-11 col-md-5 col-lg-4 col-xl-3">
    <div class="card">
      <div class="card-block">
        <h2 class="text-center mb-4 mt-2">Reset Password</h2>

        <div class="container">
          <form (submit)="resetPassword()" class="mb-4">
            <div class="form-group">
              <input type="email" placeholder="Email"
              [(ngModel)]="email" 
              #emailId = "ngModel"
              [ngClass]="{'is-invalid': emailId.errors?.required && emailId.touched || emailId.errors?.pattern}"
              name="email" 
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
              class="form-control"
              required>
              <div *ngIf = "emailId.errors?.required && emailId.touched" class="invalid-feedback"> email is required</div>
              <div *ngIf = "emailId.errors?.pattern && emailId.touched" class="invalid-feedback"> email is invalid</div>
            </div>
            <button routerLink="/register" class="btn btn-link btn-sm">Don't have a seller account? Register</button>
            <input type="submit" class="btn btn-primary btn-block mt-3" value="Reset Password">
          </form>
        </div>

      </div>
    </div>
  </div>
</div>