small{
  position: absolute;
  right: 1%;
  top:1%;
}

.my-card .card-img-top{
  width:8rem;
  height: 13rem;
  background-size:contain;
  background-position:center;
  background-repeat:no-repeat;
  margin-bottom: 0;
}
.my-card{
  border: 0 solid white;
}
.my-card button{
  position: absolute;
  bottom: 0;
}

.nex, .prev{
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, .2);
  z-index: 2;
}
.nex p, .prev p {
  position: absolute;
  color: rgba(170, 170, 170, 0.493);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
}
.nex{
  right: -5%;
}
.prev{
  left: -5%;
}
.nex:hover, .prev:hover{
  background-color: rgba(0, 0, 0, 0.6);
  transition: .7s;
}

.book-amount-tracker{
    position: absolute;
    z-index: 9;
    right: 0;
    bottom: -2.5rem;
}

/* loader/spinner */
.containe,
.dot-container {
  position: relative;
  width: 100px;
  height: 100px;
}

.containe {
  transform-origin: center;
  animation: anirotate 10s linear infinite;
}

.dot-container {
  position: absolute;
  border: 0px solid #fff;
  border-radius: 50px;
}
.dot-container:nth-child(2) {
  transform: rotate(40deg);
}
.dot-container:nth-child(2) .dot {
  animation-delay: -0.5s;
}
.dot-container:nth-child(3) {
  transform: rotate(80deg);
}
.dot-container:nth-child(3) .dot {
  animation-delay: -1s;
}

.dot {
  position: absolute;
  height: 10px;
  width: 10px;
  background: #000;
  border-radius: 5px;
  transform: translate(0, 0);
}
.dot:nth-child(1) {
  top: 0;
  left: calc(50% - 5px);
  animation: ani1 2s infinite;
}
.dot:nth-child(2) {
  bottom: calc(28% - 5px);
  left: calc(11% - 5px);
  animation: ani2 2s infinite;
}
.dot:nth-child(3) {
  bottom: calc(28% - 5px);
  right: calc(11% - 5px);
  animation: ani3 2s infinite;
}

[hidden] {
  display: none;
}

@keyframes anirotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-359deg);
  }
}
@keyframes ani1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-40px, 67px);
  }
}
@keyframes ani2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(77px, 0);
  }
}
@keyframes ani3 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-39px, -67px);
  }
}
